[submodule "android/app/src/main/jni/ByteTrack-cpp"]
	path = android/app/src/main/jni/ByteTrack-cpp
	url = https://github.com/Vertical-Beach/ByteTrack-cpp.git
[submodule "android/app/src/main/jni/eigen"]
	path = android/app/src/main/jni/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "ios/eigen"]
	path = ios/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "ios/ByteTrack-cpp"]
	path = ios/ByteTrack-cpp
	url = https://github.com/Vertical-Beach/ByteTrack-cpp.git
